{% extends "base.html" %}
{% block content %}

<div class="content container">
  <div class="card shadow p-4 text-center">

    <h3>Confirm Delete</h3>

    <p>
      Are you sure you want to delete:
    </p>

    <h4 class="text-danger">
      {{ obj }}
    </h4>

    <form method="POST">
      {% csrf_token %}

      <div class="mt-3">
        <button type="submit" class="btn btn-danger">
          Yes, Delete
        </button>

        <a href="javascript:history.back()" class="btn btn-secondary">
          Cancel
        </a>
      </div>

    </form>

  </div>
</div>

{% endblock %}