

<!-- Sidebar -->
<div class="sidebar">
  <h4>Inventory</h4>

   <a href="{% url 'index' %}"><i class="fa fa-home"></i> Dashboard</a>
  <a href="{% url 'add_product' %}"><i class="fa fa-plus"></i> Add Product</a>
  <a href="{% url 'product_list' %}"><i class="fa fa-list"></i> Products List</a>
  <a href="{% url 'add_distributors' %}"><i class="fa fa-truck"></i> Distributors</a>
  <a href="{% url 'distributors_list' %}"><i class="fa fa-list"></i> Distributors List</a>
  <a href="{% url 'sales_prodect' %}"><i class="fa fa-shopping-cart"></i> Sales Prodect</a>
  <a href="{% url 'sales_list' %}"><i class="fa fa-list"></i> Sales List</a> 
  <a href="{% url 'About_System' %}" class="nav-link"><i class="fa fa-info-circle me-1"></i> About System</a> 
</div>
