{% extends "base.html" %}
{% block content %}
 

<div class="content container mt-4">
  <div class="card shadow p-4">
    <h2 class="mb-4 text-center text-primary">Product List</h2>

  <div class="mb-3">
  

  <a href="{% url 'export_products_pdf' %}" class="btn btn-danger mb-3">
  📄 Export as PDF
</a>

</div>
  
   

    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>SKU</th>
        <th>Quantity</th>
        <th>Min Stock</th>
        <th>Category</th>
        <th>Cost</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Supplier</th>
        <th>Image</th>
        <th>Import Date</th>
        <th>Size</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
    </thead>

<tbody>
  {% for p in products %}
  <tr class="{% if p.quantity <= p.min_stock %}table-danger{% endif %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.sku }}</td>

    <td>
      {% if p.quantity <= p.min_stock %}
      <span class="badge bg-danger">Low Stock</span><br>
      {{ p.quantity }}
      {% else %}
      {{ p.quantity }}
      {% endif %}
    </td>

    <td>{{ p.min_stock }}</td>
    <td>{{ p.get_category_display }}</td>
    <td>${{ p.cost }}</td>
    <td>${{ p.price }}</td>
    <td>
      {% if p.discount %}
        ${{ p.discount }}
      {% else %}
        -
      {% endif %}
    </td>
    <td>
      {% if p.supplier %}
        {{ p.get_supplier_display }}
      {% else %}
        -
      {% endif %}
    </td>

    <!-- Image -->
    <td>
      {% if p.image %}
        <img src="{{ p.image.url }}" class="rounded" width="50" height="50" style="object-fit: cover;">
      {% else %}
        -
      {% endif %}
    </td>

    <td>{{ p.import_date|default:"-" }}</td>
    <td>{{ p.size|default:"-" }}</td>
    <td>{{ p.notes|default:"-" }}</td>

   <td>
  <a href="{% url 'update_product' p.id %}" class="btn btn-sm btn-outline-success">
    ✏️ Edit
  </a>
  <a href="{% url 'delete_product' p.id %}" class="btn btn-sm btn-outline-danger">
    🗑 Delete
  </a>
</td>
  </tr>
  {% endfor %}
</tbody>


  </table>
</div>
  </div>
</div>


{% endblock %}
