{% extends "base.html" %}
{% block content %}
 

<div class="content container mt-4">
  <div class="card shadow p-4">
    <h2 class="mb-4 text-center text-primary">Sales List</h2>

      <div class="mb-3">
  <a href="{% url 'export_sales_pdf' %}" class="btn btn-danger">
    📊 PDF
  </a>

</div>

    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Buyer</th>
            <th>Phone</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          
          {% for s in sales %}
          <tr>
            <td>{{ forloop.counter }}</td>

            <td>{{ s.buyer_name }}</td>

            <td>{{ s.phone|default:"-" }}</td>

            <!-- Product -->
            <td>{{ s.product.name }}</td>

            <!-- Category من المنتج -->
            <td>{{ s.product.get_category_display|default:"-" }}</td>

            <!-- Size من المنتج -->
            <td>{{ s.product.size|default:"-" }}</td>

            <!-- Quantity -->
            <td>{{ s.quantity }}</td>

            <!-- Total Price -->
            <td>${{ s.total_price }}</td>

            <!-- Date -->
            <td>{{ s.sale_date|default:"-" }}</td>

            <!-- Notes -->
            <td>{{ s.notes|default:"-" }}</td>

            <!-- Actions -->
            <td>
              <a href="{% url 'update_sales' s.id %}" class="btn btn-sm btn-success mb-1">Update</a>
              <a href="{% url 'delete_sale' s.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
            {% empty %}
          <tr>
            <td colspan="11">No sales found</td>
          </tr>
          {% endfor %}

        </tbody>

      </table>
    </div>

  </div>
</div>


{% endblock %}